.main {
    display: flex;
    min-height: 800px;
    justify-content: center;
}

.main div::selection {
    background: green;
    color: white;
}

header {
    background-color: green;
    text-align: center;
    color: white;
    padding: 7px;
    font-size: 25px;

}

.leftc {
    background-color: red;
    text-align: left;
    color: white;
    flex: 0 0 200px;
    font-family: Verdana;
    font-size: 14px;
}
.leftc div {
    margin: 10px 10px 15px 50px;
    text-decoration: underline;
}

.contentc {
    text-align:justify;
    flex: 0 1 500px;
    margin: 30px;
    font-family: Verdana;
    font-size: 14px;
}

.contentc::first-letter {
    color: red;
    font-size: 25px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    padding: 5px;
    font-weight: 600;
    font-size: 17px;
}
